<div>
    <div class="container text-center" style="padding: 10px;">
        <div class="row align-items-start">
            {{#each productos}}
            <div class="col" style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img src="images/No_Image_Available.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{this.title}}</h3>
                        <p class="card-text">{{this.description}}</p>
                        <h2 class="card-title">${{this.price}}</h2>
                        <div>
                            <em class="card-title">Disponibles: {{this.stock}}</em>
                        </div>
                        <a href="" class="btn btn-primary id=${elem.id}">Detalles</a>
                        <div>
                            <em class="card-title">Codigo: {{this.code}}</em>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>